<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Odoo" thread-count="1">
    <test name="CreateProductAndManufacturingOrder">
        <classes>
            <class name="feature.CreateProductAndManufacturingOrder"/>
        </classes>
    </test>
</suite>